## RewriteEngine ##
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods: "PUT, GET, POST, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"

# Sign(in|up|out)
RewriteRule ^signin/?$ sign.php?do=in [L,QSA]
RewriteRule ^signup/?$ sign.php?do=up [L,QSA]
RewriteRule ^signout/?$ sign.php?do=out [L,QSA]

# Panel
RewriteRule ^dashboard/?$ dashboard.php [L,QSA]
RewriteRule ^config/?$ config.php [L,QSA]
RewriteRule ^messages/([^/]+)/?$ messages.php?view=$1 [L,QSA]


# Songs
RewriteRule ^song/([^/]+)/?$ songs.php?view=$1 [L,QSA]

# Contact
RewriteRule ^contact/?$ index.php?do=contact [L,QSA]

# Contact
RewriteRule ^about/?$ index.php?do=about [L,QSA]