.icon-back { background-image: url(http://hqradio.ru/tpl/img/icons/back.svg) !important; }
.icon-beatport { background-image: url(http://hqradio.ru/tpl/img/icons/beatport.svg) !important; }
.icon-bg { background-image: url(http://hqradio.ru/tpl/img/icons/bg.svg) !important; }
.icon-bitrate { background-image: url(http://hqradio.ru/tpl/img/icons/bitrate.svg) !important; }
.icon-cd { background-image: url(http://hqradio.ru/tpl/img/icons/cd.svg) !important; }
.icon-check { background-image: url(http://hqradio.ru/tpl/img/icons/check.svg) !important; }
.icon-close { background-image: url(http://hqradio.ru/tpl/img/icons/close.svg) !important; }
.icon-collapse { background-image: url(http://hqradio.ru/tpl/img/icons/collapse.svg) !important; }
.icon-config { background-image: url(http://hqradio.ru/tpl/img/icons/config.svg) !important; }
.icon-cry { background-image: url(http://hqradio.ru/tpl/img/icons/cry.svg) !important; }
.icon-deezer { background-image: url(http://hqradio.ru/tpl/img/icons/deezer.svg) !important; }
.icon-donate { background-image: url(http://hqradio.ru/tpl/img/icons/donate.svg) !important; }
.icon-edit { background-image: url(http://hqradio.ru/tpl/img/icons/edit.svg) !important; }
.icon-email { background-image: url(http://hqradio.ru/tpl/img/icons/email.svg) !important; }
.icon-eq { background-image: url(http://hqradio.ru/tpl/img/icons/eq.svg) !important; }
.icon-error { background-image: url(http://hqradio.ru/tpl/img/icons/error.svg) !important; }
.icon-expand { background-image: url(http://hqradio.ru/tpl/img/icons/expand.svg) !important; }
.icon-facebook { background-image: url(http://hqradio.ru/tpl/img/icons/facebook.svg) !important; }
.icon-fav { background-image: url(http://hqradio.ru/tpl/img/icons/fav.svg) !important; }
.icon-favorites { background-image: url(http://hqradio.ru/tpl/img/icons/favorites.svg) !important; }
.icon-fav_true { background-image: url(http://hqradio.ru/tpl/img/icons/fav_true.svg) !important; }
.icon-filter { background-image: url(http://hqradio.ru/tpl/img/icons/filter.svg) !important; }
.icon-fullscreen { background-image: url(http://hqradio.ru/tpl/img/icons/fullscreen.svg) !important; }
.icon-google { background-image: url(http://hqradio.ru/tpl/img/icons/google.svg) !important; }
.icon-history { background-image: url(http://hqradio.ru/tpl/img/icons/history.svg) !important; }
.icon-info { background-image: url(http://hqradio.ru/tpl/img/icons/info.svg) !important; }
.icon-itunes { background-image: url(http://hqradio.ru/tpl/img/icons/itunes.svg) !important; }
.icon-junodownload { background-image: url(http://hqradio.ru/tpl/img/icons/junodownload.svg) !important; }
.icon-loading { background-image: url(http://hqradio.ru/tpl/img/icons/loading.svg) !important; }
.icon-local { background-image: url(http://hqradio.ru/tpl/img/icons/local.svg) !important; }
.icon-logout { background-image: url(http://hqradio.ru/tpl/img/icons/logout.svg) !important; }
.icon-message { background-image: url(http://hqradio.ru/tpl/img/icons/message.svg) !important; }
.icon-minus { background-image: url(http://hqradio.ru/tpl/img/icons/minus.svg) !important; }
.icon-music { background-image: url(http://hqradio.ru/tpl/img/icons/music.svg) !important; }
.icon-music_yandex { background-image: url(http://hqradio.ru/tpl/img/icons/music_yandex.svg) !important; }
.icon-mute { background-image: url(http://hqradio.ru/tpl/img/icons/mute.svg) !important; }
.icon-next { background-image: url(http://hqradio.ru/tpl/img/icons/next.svg) !important; }
.icon-normalscreen { background-image: url(http://hqradio.ru/tpl/img/icons/normalscreen.svg) !important; }
.icon-notice { background-image: url(http://hqradio.ru/tpl/img/icons/notice.svg) !important; }
.icon-online { background-image: url(http://hqradio.ru/tpl/img/icons/online.svg) !important; }
.icon-play { background-image: url(http://hqradio.ru/tpl/img/icons/play.svg) !important; }
.icon-playlist { background-image: url(http://hqradio.ru/tpl/img/icons/playlist.svg) !important; }
.icon-plus { background-image: url(http://hqradio.ru/tpl/img/icons/plus.svg) !important; }
.icon-prev { background-image: url(http://hqradio.ru/tpl/img/icons/prev.svg) !important; }
.icon-search { background-image: url(http://hqradio.ru/tpl/img/icons/search.svg) !important; }
.icon-soundcloud { background-image: url(http://hqradio.ru/tpl/img/icons/soundcloud.svg) !important; }
.icon-spotify { background-image: url(http://hqradio.ru/tpl/img/icons/spotify.svg) !important; }
.icon-station { background-image: url(http://hqradio.ru/tpl/img/icons/station.svg) !important; }
.icon-stations { background-image: url(http://hqradio.ru/tpl/img/icons/stations.svg) !important; }
.icon-stop { background-image: url(http://hqradio.ru/tpl/img/icons/stop.svg) !important; }
.icon-success { background-image: url(http://hqradio.ru/tpl/img/icons/success.svg) !important; }
.icon-telegram { background-image: url(http://hqradio.ru/tpl/img/icons/telegram.svg) !important; }
.icon-user { background-image: url(http://hqradio.ru/tpl/img/icons/user.svg) !important; }
.icon-vk { background-image: url(http://hqradio.ru/tpl/img/icons/vk.svg) !important; }
.icon-volume { background-image: url(http://hqradio.ru/tpl/img/icons/volume.svg) !important; }
.icon-volume_max { background-image: url(http://hqradio.ru/tpl/img/icons/volume_max.svg) !important; }
.icon-volume_mid { background-image: url(http://hqradio.ru/tpl/img/icons/volume_mid.svg) !important; }
.icon-volume_min { background-image: url(http://hqradio.ru/tpl/img/icons/volume_min.svg) !important; }
.icon-volume_mute { background-image: url(http://hqradio.ru/tpl/img/icons/volume_mute.svg) !important; }
.icon-web { background-image: url(http://hqradio.ru/tpl/img/icons/web.svg) !important; }
.icon-yandex { background-image: url(http://hqradio.ru/tpl/img/icons/yandex.svg) !important; }
.icon-youtube { background-image: url(http://hqradio.ru/tpl/img/icons/youtube.svg) !important; }

[class^="icon-"],
[class*=" icon-"] {
    background-repeat: no-repeat !important;
    background-position: 0 50%;
    background-size: 18px;
    padding-left: 28px !important;
}

input[class^="icon-"],
input[class*=" icon-"],
.button[class^="icon-"],
.button[class*=" icon-"] {
    background-position: 10px 50%;
    padding-left: 38px !important;
}

textarea[class^="icon-"],
textarea[class*=" icon-"] {
    background-position: 10px 10px !important;
    padding-left: 38px !important;
}
