#container {
    margin: 0px auto;
    width: 70%;
    height: auto;
}

#main {
    max-width: 100%;
}

/* single styles */

#StartButton {
  cursor: pointer;
}
#volume-knob {
  cursor: ns-resize;
}
#needle-arm {
  cursor: move;
}
#vinyl {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
body {
  height: 80vh;
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  background-image: url("https://serving.photos.photobox.com/809129895ff63da6dec537ef4bbbe206d52535f8ecccbfcd0908c08ab2188a845c8e8a99.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.center {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 90vh;
  background: inherit;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0.3rem 1.5rem rgb(22 15 65 / 10%) !important;
}
.center:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -7.5vh;
  left: -5vw;
  background: inherit;
  box-shadow: inset 0 0 0 50vh rgba(255,255,255,0.2);
  filter: blur(6px);
}
.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  color: #000;
  text-shadow: 0 0 1px #fff;
}
.left,
.right {
  position: relative;
}
.left {
  flex: 0 0 240px;
}
.left .controls {
  position: absolute;
  top: 13px;
  left: 13px;
}
.left .controls .close,
.left .controls .minimize,
.left .controls .maximize {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 3px;
}
.left .controls .close {
  background-color: #fe5e57;
}
.left .controls .minimize {
  background-color: #ffbd2e;
}
.left .controls .maximize {
  background-color: #29ca42;
}
.left .menu,
.left .playlists {
  margin: 50px 20px;
  color: #fff;
  font-size: 16px;
}
.left .menu .title,
.left .playlists .title {
  margin: 10px 0;
}
.left .menu .item,
.left .playlists .item {
  position: relative;
  padding: 4px 0 3px 30px;
  margin: 20px 0;
  cursor: pointer;
}
.left .menu .item:hover:before,
.left .playlists .item:hover:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -18px;
  width: 3px;
  height: 17px;
  background-color: #000;
  border-radius: 0 3px 3px 0;
}
.left .menu .item:hover,
.left .playlists .item:hover,
.left .menu .item.highlight,
.left .playlists .item.highlight {
  color: #333;
}
.left .menu .item i.material-icons,
.left .playlists .item i.material-icons {
  position: absolute;
  left: 0px;
  top: 2px;
  font-size: 20px;
}
.right {
  flex: 1 1 auto;
  padding-left: 30px;
  background-color: transparent;
  background-color: rgba(243,245,248,0.6);
}
.right .search {
  position: relative;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.right .search input {
  width: 210px;
  border: none;
  outline: none;
  background: none;
}
.right .account {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
}
.right .avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #333;
}
.right .row {
  margin-top: 20px;
}
.right h1 {
  display: inline;
  font-size: 25px;
}
.right button.play {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 77px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: linear-gradient(to right, #6377ff, #94a2fe);
  color: #fff;
  vertical-align: top;
}
.right .albums {
  margin-top: 15px;
}
.right .albums .album {
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 15px;
}
.right .albums .album img {
  width: 100px;
  border-radius: 7px;
}
.right .albums .album .album-title {
  text-align: center;
  padding: 5px;
}
.right .split {
  display: flex;
}
.right .daily-mix {
  width: 55%;
}
.right .daily-mix h1 {
  display: block;
  margin-bottom: 20px;
}
.right .daily-mix .song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: -5px;
  padding: 5px;
  cursor: pointer;
}
.right .daily-mix .song > * {
  width: 20%;
}
.right .daily-mix .song img {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}
.right .daily-mix .song .duration {
  width: 28px;
}
.duration {
  width: 60px !important;
}

.right .play-lists {
  width: 45%;
  margin-left: 20px;
}
.right .play-lists h1 {
  display: block;
  margin-bottom: 20px;
}
.right .play-lists .playlist {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44%;
  height: 30%;
  margin: 0 5% 5% 0;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 1px #d3d3d3;
  background-color: #fff;
  cursor: pointer;
}
.right .play-lists i {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 16px;
}
.right .current-play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin-left: -30px;
  background-color: #f3f5f8;
}
.right .current-play .info {
  display: flex;
}
.right .current-play img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.right .current-play .song {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.right .current-play .song .name {
  font-size: 16px;
  font-weight: bold;
}
.right .current-play .song .artist {
  margin-top: 3px;
}
.right .current-play .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
}
.right .current-play .controls > * {
  margin: 0 10px;
}
.right .current-play .controls .prev,
.right .current-play .controls .next {
  color: #7584f4;
}
.right .current-play .controls .play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background: linear-gradient(to right bottom, #7584f4, #5463ec);
  border-radius: 50%;
  border: 1px solid #fff;
}
.right .current-play .controls .repeat,
.right .current-play .controls .shuffle {
  color: #d3d3d3;
}
.right .current-play .controls .repeat i,
.right .current-play .controls .shuffle i {
  font-size: 15px;
}
.right .current-play .volume {
  display: flex;
  justify-content: flex-end;
  width: 150px;
}
.right .current-play .volume i {
  color: #7584f4;
}
.right .current-play .volume .slider {
  position: relative;
  width: 125px;
  cursor: pointer;
}
.right .current-play .volume .slider__track-container {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 6px;
  background-color: #fff;
  transform: translateY(-50%);
  border: 1px solid #eee;
  border-radius: 5px;
}
.right .current-play .volume .slider__track {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #7584f4;
  transform-origin: left top;
  will-change: transform;
  transform: scaleX(0.6);
}
.right .current-play .volume .slider__thumb {
  width: 15px;
  height: 15px;
  transform: translate(70px, 5px);
  background-color: #7584f4;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px -1px #b2b2b2;
}

/* Vinyl album */
.music-player-container {
  display: inline-block;
  height: 100px;
}
.music-player-container:after {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.8);
  bottom: -2px;
  content: " ";
  display: block;
  height: 10px;
  left: 19px;
  position: absolute;
  transform: rotate(-3deg);
  width: 70%;
  z-index: 0;
}

.music-player {
  background-color: #fff;
  height: 200px;
  padding: 40px 240px 40px 40px;
  position: absolute;
  text-align: right;
  width: 460px;
  z-index: 3;
}

.player-content-container {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}

.artist-name {
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 0.75em 0;
}

.album-title {
  font-weight: 200;
  font-size: 24px;
  margin: 0 0 1.75em 0;
}

.song-title {
  font-size: 18px;
  font-weight: 200;
  margin: 0 0 1.5em 0;
}

.album {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.65);
  height: 215px;
  margin-left: 250px;
  margin-top: -2%;
  position: relative;
  width: 215px;
  z-index: 10;
}

.album-art {
  background: #fff url("") center/cover no-repeat;
  height: 215px;
  position: relative;
  width: 215px;
  z-index: 10;
}

.vinyl {
  transition: all 500ms;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/vinyl.png"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/incubus-make-yourself.jpg");
  background-position: center, center;
  background-size: cover, 40% auto;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  height: 200px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 200px;
  z-index: 5;
  will-change: transform, left;
}

.vinyl-animate {
-webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
}

.is-playing .vinyl {
  left: 52%;
}

.music-player-controls {
  text-align: center;
}

[class^=control-] {
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
  border-radius: 100%;
  display: inline-block;
  height: 44px;
  margin: 0 3px;
  width: 44px;
}
[class^=control-]:hover {
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
  cursor: pointer;
}

.control-play {
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/play.svg") center/cover no-repeat;
}
.is-playing .control-play {
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/play.svg") center/cover no-repeat;
}

.control-forwards {
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/forwards.svg") center/cover no-repeat;
}

.control-back {
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/backwards.svg") center/cover no-repeat;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Loading */
.disco {
  /*centrado de valor negativo*/
  cursor: wait;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
}

.disco--cover,
.disco--vinilo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.disco--cover  {
  background: url('../img/cover.jpg') no-repeat center center;
  border-radius: 3px;
  /*opacity: 0.5;*/
  z-index: 2;
}

.disco--cover::after,
.disco--cover::before {
  content: "";
  position: absolute;
}

.disco--cover::after {
  background: -webkit-linear-gradient(45deg, rgba(14,14,14,0.2)    20%,rgba(125,126,125,0.6) 100%); 
  width: 100%;
  height: 100%;
}

.disco--cover::before {
  background: rgba(0,0,0,1); /*#000 negro*/
  border-radius: 50%;
  box-shadow: -20px 12px 15px  rgba(0,0,0,0.85);
  bottom: 2px;
  width: 100%;
  height: 20px;
  z-index: -10;
}

.disco--vinilo {
 background: url('../img/vinilo.png') no-repeat center center;
  transform: translateX(25px) rotateZ(0deg);
  /*transition: transform 0.5s ease-out;*/
  -webkit-animation: rotar 2s linear infinite;
          animation: rotar 2s linear infinite;
  z-index: 1;
}

@-webkit-keyframes rotar {
  0%{
    transform: translateX(25px) rotateZ(0deg);
  }
  50%{
    transform: translateX(125px) rotateZ(180deg);
  }
  100%{
    transform: translateX(25px) rotateZ(360deg);
  }
}

@keyframes rotar {
  0%{
    transform: translateX(25px) rotateZ(0deg);
  }
  50%{
    transform: translateX(125px) rotateZ(180deg);
  }
  100%{
    transform: translateX(25px) rotateZ(360deg);
  }
}



/***************************/
/************PANEL**********/
/***************************/

.btn-panel {
  background: red;
  border: transparent;
  border-radius: 1em;
  color: white;
  cursor: pointer;
}

.error-panel {
  width: 100%;
  background: red;
  color: white;
  border-radius: 1em;
  box-shadow: black 1px 1px 1px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: none;
  transition: ease 2s;
}

#file_audio, #file_photo, #file_video {
 display: none;
}

.form-panel {
  width:  50%;
}

.form-panel > input{
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: 1em;
  font-weight: bold;
  border: transparent;
  outline: none;
}

.form-panel > input:focus{
  box-shadow: black 2px 2px 2px;
}

.form-panel > button {
  width: 100%;
  background: #3273c7;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  border: transparent;
  cursor: pointer;
  transition: ease 1s;
  color: white;
}

.form-panel > button:hover {
  background: #4f95db;
}

.item-panel {
  color: white;
  text-decoration: none;
}

.item-panel > a{
  color: white;
  text-decoration: none;
}

.js_play:hover{
  background: #caf0ff54;
  border-radius: 2em;
  transition: ease .5s;
}

.label-file {
  background: #377ed0;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  width: 120px;
  color: white;
  border-radius: .5em;
  display: inline-block;
}

.playlist-scroll {
  overflow: scroll;
  height: 200px;
  overflow-x: hidden;
}

.success-panel {
  width: 100%;
  background: green;
  color: white;
  border-radius: 1em;
  box-shadow: black 1px 1px 1px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: none;
  transition: ease 2s;
}

.table {
  width: 50%;
  text-align: center;
}

.table > tbody > tr > td > img {
  width: 30px;
}


/*LOADING*/

div.center {
  display: none;
}



div#mp3_player{
  width: 300px;
  height: 150px;
  background: #000;
  padding: 5px;
  margin: 50px auto;
}

div#mp3_player > div > audio{
  width: 290px;
  background: #000;
  float: left;
}

div#mp3_player > canvas {
  width: 290px;
  height: 120px;
  background: #001A22;
  float: left;
}